//弹性效果的less，先以原图缩小高宽50%，在放大为原图
@keyframes ball-spin-fade-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ball-spin-fade {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: .25;
    transform: scale(0.5);
  }
}