// 这是一个关于动画的样式


.motion-common(@duration: @animation-duration-base) {
    animation-duration: @duration;
    animation-fill-mode: both;//把物体动画地从一个地方移动到另一个地方，并让它停留在那里：
  }
  
  .motion-common-leave(@duration: @animation-duration-base) {
    animation-duration: @duration;
    animation-fill-mode: both;
  }
  
  .make-motion(@className, @keyframeName, @duration: @animation-duration-base) {
    .@{className}-enter,
    .@{className}-appear {
      .motion-common(@duration);
      animation-play-state: paused;
    }
    .@{className}-leave {
      .motion-common-leave(@duration);
      animation-play-state: paused;
    }
    .@{className}-enter.@{className}-enter-active,
    .@{className}-appear.@{className}-appear-active {
      animation-name: ~"@{keyframeName}In";
      animation-play-state: running;
      pointer-events: none;
    }
    .@{className}-leave.@{className}-leave-active {
      animation-name: ~"@{keyframeName}Out";
      animation-play-state: running;
      pointer-events: none;
    }
  }
  