.wrapper .tabChange {
    margin: 0 0 20px;
    font-size: 14px;
    color: #999;
}

.riskStatusDisplay{
    cursor:pointer;
    color:dodgerblue;
}
.riskStatusDisplay:hover{
    color:dodgerblue;
}
/*限制表格中标题长度*/
.titleCol{
    max-width:100px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    word-break: keep-all;
    max-height: 1.5em;
}
.opDetail{
    color:#00bce4;
    cursor:pointer;
}

.editTd{
    cursor:pointer;
    color:#00bce4;
}
.urlIcon{
    color: #00bce4;
    font-size: 17px;
    cursor: pointer;
}